<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="assets/css/style.css")
    title I'm Prashanth

  body.font-display.font-body


    section(class="flex items-center py-36 md:py-0 md:h-screen bg-lightblue justify-center flex-col")
      div(class="container p-10 md:p-20")
        h2(class="text-center text-white text-5xl md:text-7xl xl:text-9xl font-bold") I'm Prashanth
        .pt-3
        p(class="text-center text-blue-300 text-xl md:text-3xl xl:text-5xl") Full Stack Developer, Clean Coder
      a( href="#connect" class="focus:outline-none rounded-full bg-lime text-green-600 shadow-md px-6 py-3 text-xl xl:text-2xl  xl:px-9 xl:py-5") Connect Me


    section(class="flex items-center py-20 justify-center flex-col p-10 xl:py-36")
      h3(class="text-center text-3xl xl:text-5xl font-bold text-gray-700") About Me
      div(class="w-36 xl:w-56 bg-lime h-2 my-2 transform -rotate-3")
      .p-6
      p(class="xl:w-1/2 text-center text-lg xl:text-2xl text-gray-600") I am a Full Stack Developer, Focused primarily towards Javascript stack, but comfortable enough to work with any programming language or technology. I am highly motivated and constantly learning and upgrading myself with every latest cutting edge technology.


    section(class="flex items-center py-20 justify-center flex-col p-10")
      h3(class="text-center text-3xl xl:text-5xl font-bold text-gray-700") Portfolio
      div(class="w-36 xl:w-56 bg-lime h-2 my-2 transform rotate-3")
      .p-6.min
      div(class="w-full xl:w-3/4 xxl:w-1/2 flex flex-col md:flex-row")
        div(class="my-3 md:m-3 min-h-full w-full md:w-1/3 border rounded-xl p-6")
          figure.flex.w-full.justify-center.flex-col.items-center
            span(class="material-icons block text-8xl text-yellow-500 p-6") pets
            .pt-2
            h4.font-bold.text-center.text-gray-700(class="text-xl xl:text-2xl") PawBud
            .pt-2
            p.text-center.text-gray-600(class="text-lg md:text-xl") A cross platform mobile app build using flutter and node.js which connects pet owners to pet grooming services
        div(class="my-3 md:m-3 w-full md:w-1/3 min-h-full border rounded-xl p-6")
          figure.flex.w-full.justify-center.flex-col.items-center
            span(class="material-icons block text-8xl text-blue-500 p-6") code
            .pt-2
            h4.font-bold.text-center.text-gray-700(class="text-xl xl:text-2xl") Json Kitty
            .pt-2
            p.text-center.text-gray-600(class="text-lg xl:text-xl") An android app which lets developer create, edit, and serve json files. It supports over 9 editor themes.
        div(class="my-3 md:m-3 w-full md:w-1/3 min-h-full border rounded-xl p-6")
          figure.flex.w-full.justify-center.flex-col.items-center
            span(class="material-icons block text-8xl text-indigo-500 p-6") chat
            .pt-2
            h4.font-bold.text-center.text-gray-700(class="text-xl xl:text-2xl") Stock ChatBot
            .pt-2
            p.text-center.text-gray-600(class="text-lg xl:text-xl") A Telegram chatbot build using node.js which notifies user regarding stock index and current portfolio.


    section(class="flex items-center py-20 justify-center flex-col p-10")
      h3(class="text-center text-3xl xl:text-5xl font-bold text-gray-700") Skills
      div(class="w-24 xl:w-36 bg-lime h-2 my-2 transform -rotate-3")
      .p-6
      div.flex(class="flex-row flex-wrap justify-center xl:w-4/5")
        i(class="block text-7xl devicon-nodejs-plain border p-6 rounded-xl colored xl:text-9xl m-6")
        i(class="block text-7xl devicon-vuejs-plain border p-6 rounded-xl colored xl:text-9xl m-6")
        i(class="block text-7xl devicon-react-original border p-6 rounded-xl colored xl:text-9xl m-6")
        i(class="block text-7xl devicon-flutter-plain border p-6 rounded-xl colored xl:text-9xl m-6")
        i(class="block text-7xl devicon-docker-plain border p-6 rounded-xl colored xl:text-9xl m-6")
        i(class="block text-7xl devicon-postgresql-plain border p-6 rounded-xl colored xl:text-9xl m-6")
        i(class="block text-7xl devicon-nestjs-plain border p-6 rounded-xl colored xl:text-9xl m-6")
        i(class="block text-7xl devicon-ubuntu-plain border p-6 rounded-xl colored xl:text-9xl m-6")
        i(class="block text-7xl devicon-css3-plain border p-6 rounded-xl colored xl:text-9xl m-6")
        i(class="block text-7xl devicon-redis-plain border p-6 rounded-xl colored xl:text-9xl m-6")
    div(class="xl:py-16")


    section(id="connect" class="flex items-center py-36 md:py-0 md:h-screen bg-lightblue justify-center flex-col")
      div.flex(class="flex-row flex-wrap justify-center xl:w-4/5")
        a(href="https://linkedin.com/in/prashanthvish" target="_blank")
          i(class="block text-5xl md:text-6xl devicon-linkedin-plain text-white xl:text-8xl m-6")
        a(href="https://github.com/prashanthvish" target="_blank")
          i(class="block text-5xl md:text-6xl devicon-github-original text-white xl:text-8xl m-6")